@page
@model FirstEntityProject.Pages.Category.CreateCategoryModel
@{
}
<form align="center" method="post">
    <label for="name">نام:</label>
    <input type="text" name="Name" id="name" />
    <br />
    <button type="submit">ایجاد</button>
</form>